DATABASE_URL=jdbc:mysql://localhost:3306/banco?useSSL=false&allowPublicKeyRetrieval=true
DATABASE_USERNAME=qq
DATABASE_PASSWORD=senha

UPLOADS_DIR=./alguma-coisa
UPLOADS_URL_PREFIX=/uploads

JWT_SECRET=dfnewffbwrffwfrwgrgtSF
JWT_EXPIRATION=86400000